.projectContainer{
    background-color: rgb(196, 133, 255);
}
.headline{
    background-color: rgb(250, 132, 132);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40%;
    padding-right: 5%;
}